@charset "utf-8";
/* CSS Document */

body{
	 display: flex;
}

.img1{
	
	border:2px solid #fff;
}

.contenedor{
	  border:1px solid #ccc;
	  margin: 0 auto;
	  width: 60%;
	  background: #fff;
	  padding: 10px;
	
}



.principal{
	  background-color: #0CB1BF;
	 padding: 10px;
	
}

.cabecera{
	display: flex;
	overflow: hidden;
}

.nombre{
	 margin-left: 40px;
	width: 100%;
}

.titulo{
	border: 1px solid #0CB1BF;
	color: #214FDE;
	
}






